I* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
.header {
  height: 90vh;
  width: 98.3vw;
  position: relative;
  background-image: url(images/bg-hero-desktop.svg);
  background-size: contain;
}
.header-text {
  width: 40%;
  padding: 5% 2% 0 5%;
}
.header-left {
  padding: 10% 0 0 5%;
}
.logo {
  height: 25%;
  width: 25%;
}
.heading-main {
  font-size: 2.5rem;
  word-spacing: 5px;
}
.heading-sub {
  font-weight: 400;
  font-size: 1rem;
}
.image-header {
  position: absolute;
  bottom: 10%;
  right: 7%;
  width: 45%;
  height: 70%;
}
img {
  width: 100%;
  height: 100%;
}
.btn-start:link,
.btn-start:active {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: hsl(322, 100%, 66%);
  padding: 10px 20px;
  border-radius: 25px;
  position: absolute;
  bottom: 10%;
  left: 8%;
  font-size: 1rem;
  font-weight: 300;
}
.btn-try:link {
  font-size: 1rem;
  font-weight: 300;
  position: absolute;
  top: 5%;
  right: 5%;
  text-decoration: none;
  color: rgb(233, 225, 225);
  background-color: rgb(255, 255, 255);
  padding: 5px 20px;
  border-radius: 25px;
}
.container {
  margin: auto;
  height: 40vh;
  width: 60vw;
  position: relative;
  border: 10px solid;
  border-color: #f7f7f7;
  border-radius: 20px;
  padding: 20px;
  margin-top: 50px;
}
.mid {
  width: 100%;
  height: 100%;
}
.container-text-box {
  width: 60%;
  height: 80%;
}
.img-mid {
  height: 80%;
  width: 40%;
  position: absolute;
  top: 10%;
  right: 0;
}
/* .mid {
  width: 40%;
  height: 80%;
  position: absolute;
  right: 0;
} */

.mid-2 {
  float: left;
  height: 80%;
  width: 40%;
}
footer {
  background-color: hsl(192, 100%, 9%);
}
